<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="/public/fe.js"></script>
   </head>

   <body>

      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>

        <iframe name="myiframe" id="myiframe"></iframe>

        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" target="myiframe" action="/api/upload">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
          <hr>
          <button id="showFiles">show file-list</button>
        </div>
      </div>
   </body>


</html>
