/****** Main Styling ******/

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
  margin: auto;
  width: 60%;
  min-width: 400px;
}

iframe {
  width:100%;
  background:white;
}

.view {
  position:relative;
  margin-top: 40px;
  border: 1px  solid  #aaa;
  padding: 20px;

}

hr {
  margin: 1rem 0 1rem 0;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;

}
input#button {
  cursor:pointer;
}
button {
  cursor:pointer;
}

/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}
